
script(type='text/javascript', src='js/types.js')
script(type='text/javascript', src='js/viewModel.js')
script(type='text/javascript').
	var vm = new viewModel(!{settings}, '#{host}');
	ko.applyBindings(vm)
