div(role='tabpanel')
    ul.nav.nav-tabs.page-selector(role='tablist')
        li.active
            a(href='#summary', role='tab', data-toggle='tab') Summary

        li
            a(href='#screenshot', role='tab', data-toggle='tab') Screenshot
