











btn-group(data-toggle='buttons')
    label.btn.btn-primary.active
        input(type='radio', name='options' id='option1', autocomplete='off' checked)
        |Summary

        //-------------------------------------------------------------------
    label.btn.btn-primary
        input(type='radio', name='options' id='option1', autocomplete='off' )
        |jsErrors

        //------------------------------------------------------------------
    label.btn.btn-primary
        input(type='radio', name='options' id='option1', autocomplete='off' )
        |Not Found (404)
