div(role='tabpanel')
    ul.nav.nav-tabs(role='tablist')
        li.active
            a(href='#home', role='tab', data-toggle='tab') Summary
        li
            a(href='#home', role='tab', data-toggle='tab') jsError
        li
            a(href='#home', role='tab', data-toggle='tab') notFound