.modal.fade#deleteModal(aria-hidden = 'true')
    .modal-dialog
        .modal-content
            .modal-header
                h4.modal-title Delete histories
            .modal-body
                button.form-control.bottom-buffer.btn.btn-danger(data-bind="click: deleteDb, css: {disabled: !availableHistoryNames().length}") Delete all
                ul(data-bind="foreach: availableHistoryNames")
                    li
                        span(data-bind="text: $data")
                        span.btn.btn-danger(data-bind="click: function() {$parent.deleteHistoryByName($data)}")
                            i.fa.fa-trash-o



.modal.fade#criticalErrorsModal(aria-hidden = 'true')
    .modal-dialog
        .modal-content
            .modal-header
                h4.modal-title Critical errors
            .modal-body
                .row
                   .col-xs-5
                       select(data-bind="options: _.difference(fixedMetrics(), criticalErrors()), selectedOptions: choosenMetricsToAdd" multiple='true', size='20')
                   .col-xs-1
                       .row
                           .col-xs-12
                               span.btn.btn-info(data-bind="click: addToCriticalErrors")
                                    i.fa.fa-arrow-right.fa-2x
                       .row.top-buffer
                           .col-xs-12
                               span.btn.btn-info(data-bind="click: function() {$root.criticalErrors.removeAll()}")
                                   i.fa.fa-arrow-left.fa-2x

                    .col-xs-6
                        ul(data-bind="foreach: criticalErrors")
                            li
                                span.col-xs-9
                                    span(data-bind="text: $data")
                                span.col-xs-3
                                    span.btn.btn-danger(data-bind="click: function() {$root.removeFromCriticalErrors($data)}")
                                            i.fa.fa-trash-o




.modal.fade#newPageModal(aria-hidden = 'true')
    .modal-dialog
        .modal-content
            .modal-header
                h4.modal-title New Page
            .modal-body
                    div(role='form')
                        .form-group
                            label(for='urlInput') Url
                            input#urlInput.form-control(type='text', autofocus placeholder='http://example.com', data-bind="value: newItem().url, valueUpdate: 'afterkeydown'")
                        | &#x9;&#x9;&#x9;&#x9;
                        .checkbox
                            label
                                input(type='checkbox', data-bind="checked: newItem().screenshot, valueUpdate: 'afterkeydown'")
                                |  Screenshot
                        .checkbox
                            label
                                input(type='checkbox', data-bind="checked: newItem().active, valueUpdate: 'afterkeydown'")
                                |  Active

                        .row
                            .col-lg-2
                                button.btn.btn-default(data-bind="click: $root.add, css: {'disabled': ! isValid()}") Save
                                    //i.fa.fa-spinner.fa-spin.fa-2x





