btn-group(data-toggle='buttons')
   label.btn.btn-primary.active
      input(type='radio', name='options' id='option1', autocomplete='off' checked)
      |Default

      //-------------------------------------------------------------------
   label.btn.btn-primary
      input(type='radio', name='options' id='option1', autocomplete='off' )
      |Graph

      //------------------------------------------------------------------
   label.btn.btn-primary
      input(type='radio', name='options' id='option1', autocomplete='off' )
      |Timeline
