-var activeConf = (activePage == 'conf' ? 'active' : '');
-var activeMain = (!activeConf ? 'active' : '' );


.row.clearfix#navbar
     .col-lg-2
         .i.fa.fa-3x.fa-home
     .col-lg-10
         ul.nav.nav-tabs
             li(class='#{activeMain}')
                 a(href='/') Results
             li(class='#{activeConf}')
                 a(href='/conf') Configuration

             if activeMain == 'active'
                 li.left-buffer
                     select(data-bind='value: selectedHistory', id='historiesPicker').selectpicker
                         each val in dates
                             option #{val}

                 li.left-buffer
                    span Some indicator button or image
                        i.fa.fa-2x.fa-wrench