-var activeConf = (activePage == 'conf' ? 'active' : '');
-var activeMain = (!activeConf ? 'active' : '' );


.row.clearfix#navbar
     .col-lg-2
         a(href='/')
            .i.fa.fa-3x.fa-home
     .col-lg-10
         ul.nav.nav-tabs
             li(class='#{activeMain}')
                 a(href='/') Results
             li(class='#{activeConf}')
                 a(href='/conf') Configuration

             if activeMain == 'active'
                 li.left-buffer
                     select(data-bind="value: selectedHistory", id='historiesPicker').selectpicker
                         each val in dates
                             option #{val}

             li.left-buffer
                span(data-bind="text: scheduled() ? 'Next test will run automatically.' : 'Scheduler not started.'")
                span(data-bind="visible: isRunning()") Test Running now..
                    i.fa.fa-spinner.fa-spin