doctype html
html
    head
        include partials/head
    body
        .container-fluid
            include partials/navbar
            h1.text-center Settings
            .row.clearfix.top-buffer-2x#settings

                .col-md-4
                    h4 Pages
                    form(role='form', id='main-input-box')
                        div.input-group
                            input(type='text', placeholder='http://example.com', name='item', data-bind="value: newItem, valueUpdate: 'afterkeydown'").form-control
                            span.input-group-btn
                                input(type='submit' value='Add' data-bind="click: add, enable: isValid()").btn.btn-primary

                        ol(data-bind="foreach: urls").list-group
                            li.list-group-item
                                span(data-bind="text: $data")
                                button(data-bind="click: function() {$root.remove($data)}").btn-group.pull-right
                                    i.glyphicon.glyphicon-trash



                .col-md-2
                    h4 Options
                    .checkbox
                        label
                            input(type='checkbox', data-bind="checked: screenshot, click: pushSettingsToServer() ")#screenshot
                            | Screenshot


                    span.display-block.left.bottom
                        button.btn.btn-danger(data-toggle='modal', data-target='#deleteModal') Delete history db
                        .modal.fade#deleteModal(aria-hidden = 'true')
                            .modal-dialog
                                .modal-content
                                    .modal-header
                                        h4.modal-title Delete histories
                                    .modal-body
                                        button.form-control.bottom-buffer.btn.btn-danger(data-bind="click: deleteDb, css: {disabled: !availableHistoryNames().length}") All
                                        ul(data-bind="foreach: availableHistoryNames")
                                            li
                                                span(data-bind="text: $data")
                                                span.btn.btn-default(data-bind="click: function() {$parent.deleteHistoryByName($data)}")
                                                    i.fa.fa-trash-o.left-buffer




                .col-md-6
                    h4 Scheduler
                    #cron
                    span

                        button.left-buffer.btn.btn-primary(data-bind= "css: { disabled: !canRun() || scheduled() }, click: schedule" ) Schedule
                            i.fa.fa-spin.fa-spinner(data-bind="visible: isRunning()")

                        button.left-buffer.btn.btn-primary(data-bind= "css: { disabled: !scheduled() }, click: stopScheduler" ) Stop Scheduler

                        button.btn.btn-primary(data-bind= "css: { disabled: !canRun() }, click: runNow" ) Run Now
                            i.fa.fa-spin.fa-spinner(data-bind="visible: isRunning()")



        include partials/footer
