doctype html
html
    head
        include partials/head
    body
        .container-fluid
            .spinner(data-bind="visible: isLoading()")
                .content
                    i.fa.fa-spin.fa-spinner.fa-3x
            include partials/navbar
            h1.text-center Settings
            .row.clearfix.top-buffer-2x#settings

                .col-md-4
                    h4 Pages
                        ol(data-bind="foreach: urls").list-group
                            li.list-group-item.page-item(data-bind="attr: {id: 'item' + $index()}")
                                span(data-bind="text: $data.url").page-item-name
                                span
                                    i.fa.fa-arrow-down.pull-right
                            div.page-content(data-bind="attr {id: 'content' + $index()}")
                                div(role='form')
                                    .form-group
                                        label(for='urlInput') Url
                                        input#urlInput.form-control(type='text' tabindex=-1 ,placeholder='http://example.com', data-bind="value: $data.url, valueUpdate: 'afterkeydown'")
                                    | &#x9;&#x9;&#x9;&#x9;

                                    label
                                        input(type='checkbox', data-bind="checked: $data.screenshot, valueUpdate: 'afterkeydown'")
                                        | Screenshot

                                    label
                                        input(type='checkbox', data-bind="checked: $data.active, valueUpdate: 'afterkeydown'")
                                        | Active
                                        .row

                                    button.btn.btn-success(data-bind="click: $root.pushSettingsToServer") Save
                                        //i.fa.fa-spinner.fa-spin.fa-2x
                                    button.btn.btn-danger(data-bind="click: function() { $root.remove($data) }") Delete


                        button(data-toggle="modal" ,data-target="#newPageModal").btn.btn-primary New page



                .col-md-2
                    h4 Options

                    span.display-block.left.bottom
                        button.btn.btn-info(data-toggle='modal', data-target='#criticalErrorsModal') Configure critical errors

                    span.display-block.left.bottom
                        button.btn.btn-info.top-buffer-4px(data-toggle='modal', data-target='#deleteModal') Histories


                    include partials/modals


                .col-md-6
                    h4 Scheduler
                    #cron
                    span

                        button.left-buffer.btn.btn-primary(data-bind= "css: { disabled: !canRun() || scheduled() }, click: schedule" ) Schedule
                            i.fa.fa-spin.fa-spinner(data-bind="visible: isRunning()")

                        button.left-buffer.btn.btn-primary(data-bind= "css: { disabled: !scheduled() }, click: stopScheduler" ) Stop Scheduler

                        button.btn.btn-primary(data-bind= "css: { disabled: !canRun() }, click: runNow" ) Run Now
                            i.fa.fa-spin.fa-spinner(data-bind="visible: isRunning()")



        include partials/footer
