- var zero = urls.length == 0;


doctype html
html
    head
        include partials/head
    body
       .container-fluid
            include partials/navbar
           .row.clearfix

               if !zero
                   .col-xs-2#page-selector-menu

                           ul.nav.nav-tabs.tabs-left
                               // ko foreach: currentData
                               li(data-bind="css: {active: $index() == 0 }")
                                   a(data-toggle='tab' , data-bind= "text: $data.url, attr: {href: ('#' + $index())}")
                               // /ko
                   .col-xs-9
                       .row.clearfix
                           .btn-group
                                include partials/metrics

                       .tab-content.top-buffer.col-xs-12.no-margin
                           // ko foreach: currentData
                           .tab-pane.result-content.col-xs-12.no-margin(data-bind="css: {active: $index() == 0}, attr: {id: $index}")
                               .tab-content.metric-tabs.col-xs-12.no-margin(data-bind="attr: {'data-url': $data.url}")
                                   .tab-pane.summary.active.graph.col-xs-12.no-margin
                                       div(data-bind="visible: $root.selectedMode() == 'timeline' || $root.selectedMode() == 'graph'").metric-selector.col-xs-2.no-margin
                                           input(type='text', placeholder='search').metric-filter.top-buffer
                                           select(data-bind= "options: $root.availableMetrics, selectedOptions: $root.selectedMetrics", size=30, multiple='true')

                                       div(data-bind="visible: $root.selectedMode() == 'numbers'")
                                           h1.text-center Result

                                           table.table.table-hover.no-bg
                                                   tr
                                                        th Offender
                                                        th Count
                                                        th More Info


                                                   //ko foreach: _.map($data.offenders, function(item, index) {return {'name' : index, 'values' : item}})
                                                   tr(data-bind="css {danger: _.contains($root.criticalErrors(),$data.name)}")
                                                        td(data-bind= "text: $data.name")
                                                        td(data-bind= "text: $data.values.length")
                                                        td
                                                            a(data-bind="attr: {'data-target': ('#' + $parent.url.split('//')[1].split('.')[0] + $index()) }", data-toggle="modal", href="#")
                                                                i.fa.fa-info.fa-2x
                                                            .modal.fade(data-bind="attr: {id: ( $parent.url.split('//')[1].split('.')[0] + $index()) }", role="dialog", aria-hidden='true')
                                                                .modal-dialog
                                                                    .modal-content
                                                                        .modal-header
                                                                            h4.modal-title
                                                                        .modal-body
                                                                            ul
                                                                                // ko foreach: $data.values
                                                                                li
                                                                                    span(data-bind="text: $data")
                                                                                // /ko
                                                     // /ko







                               .loader


                            // /ko
                   .col-xs-1.top-buffer-2x
                        include partials/modes


                else
                    .col-xs-12
                        p No Results yet.

        include partials/footer