- var zero = urls.length == 0


doctype html
html
    head
        include partials/head
    body
       .container-fluid
            include partials/navbar
           .row.clearfix
               if !zero
                   .col-md-2#page-selector-menu

                           ul.nav.nav-tabs.tabs-left
                               // ko foreach: currentData
                               li(data-bind="css: {active: $index() == 0 }")
                                   a(data-toggle='tab' , data-bind= "text: $data.url, attr: {href: ('#' + $index())}")
                               // /ko
                   .col-md-9
                       .row.clearfix
                           .btn-group
                                include partials/metrics

                       .tab-content.top-buffer
                           // ko foreach: currentData
                           .tab-pane.result-content(data-bind="css: {active: $index() == 0}, attr: {id: $index}")
                               .tab-content.metric-tabs
                                   .tab-pane.summary.active
                                       p summary
                                   .tab-pane.jserror#js_error
                                       p jsErrors
                                   .tab-pane.notfound#not_found
                                       p notFound(404)
                            // /ko
                   .col-md-1.top-buffer-2x
                        include partials/modes


                else
                    .cols-md-12
                        p No Results yet.

        include partials/footer