- var zero = urls.length == 0


doctype html
html
    head
        include partials/head
    body
       .container-fluid
            include partials/navbar
           .row.clearfix
               if !zero
                   .col-xs-3#page-selector-menu

                           ul.nav.nav-tabs.tabs-left
                               // ko foreach: currentData
                               li(data-bind="css: {active: $index() == 0 }")
                                   a(data-toggle='tab' , data-bind= "text: $data.url, attr: {href: ('#' + $index())}")
                               // /ko
                   .col-md-8
                       .row.clearfix
                           .btn-group
                                include partials/metrics
                                select(data-bind='value: selectedHistory')
                                    each val in dates
                                        option #{val}

                       .tab-content.top-buffer
                           // ko foreach: currentData
                           .tab-pane.result-content(data-bind="css: {active: $index() == 0}, attr: {id: $index}")
                                   p(data-bind="text: $data.url")
                            // /ko
                   .col-md-1.top-buffer-2x

                       button.btn.btn-info.active Graph
                       button.btn.btn-info.active Timeline
                       button.btn.btn-info Numbers

                else
                    .cols-md-12
                        p No Results yet.

        include partials/footer