- var zero = result.length == 0

doctype html
html
    head
        include partials/head
    body
       .container-fluid
            include partials/navbar
           .row.clearfix

               if !zero
                   .col-xs-3#page-selector-menu

                           ul.nav.nav-tabs.tabs-left
                               each val,index in ['http://google.com/sdf', 'http://mzt.ru/hahah']
                                   li(class='#{index == 0 ? "active" : ""}')
                                       a(data-toggle='tab', href='##{index}') #{val}


                   .col-md-8
                       .row.clearfix
                           .btn-group
                                include partials/metrics


                       .tab-content.top-buffer
                           .tab-pane.active.result-content#0
                               p solun page
                           .tab-pane(id='1')
                               p ellinair page #{length}

                   .col-md-1.top-buffer-2x
                        button.btn.btn-info.active Graph
                        button.btn.btn-info Numbers

                else
                    .cols-md-12
                        p No Results yet.

        include partials/footer