.top-buffer {margin-top: 20px;}

.top-buffer-2x {
    margin-top: 40px;
}

.left-buffer {
    margin-left: 20px;
}


#navbar {
    height: 80px;
    background: #ffffff;
}

#cron {
    display: inline;
}

.btn-z {
    color: white;

}



.text-center {
    text-align: center;
}

#settings {
    border: 1px solid gray;
    background: #f4f5f3;
}

.display-block {
    display: block;
}

.result-content {
    border: 1px solid;
}

.nav-tabs {
    width: auto;
    display: inline-block;
    margin-bottom: 0;
    float: left

}


#modes-buttons input{
    display: none;
}

.loader {
    position:fixed;
    top: 61%;
    left: 54%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
}

.loader span {
    display: block;
}

.hide {
    display: none;
}


.la-anim-7 {
    position: fixed;
    top: 50%;
    bottom: 0;
    left: 50%;
    z-index: -1;
    width: 0;
    height: 100%;
    background: rgba(0,0,0,0.1);
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
}

.la-anim-7.la-animate {
    z-index: 100;
    width: 100%;
    opacity: 0;
    transition: width 5s ease-in, opacity 1s 5s;
}


.no-margin {
    margin-left: 0;
    padding-left: 0;
}

.bottom-buffer {
    margin-bottom: 20px;
}

.no-bg {
    background-color: white;
}
.url-page {

}

.url-page a{
    display: block;
    margin-bottom: 2px;
    font-size: 14px;
}

.url-page a:hover {

}

.page-content {
    display: none;
    background: #0d7844;
    margin: 10px;
    padding: 8px;
}

.page-item {
    cursor: pointer;
}

.page-item:hover {
    background-color: #e2ebff;
}

.footer {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #ffffff;
    padding: 10px 10px;
}


.top-buffer-4px {
    margin-top: 4px;
}



.selected-page a{
    background-color: black;
    color: white;

    display: inline;
    padding-left: 6px;
    padding-right: 6px;
}


.result-content-details {
    display: none;
}

.show-details-btn {
    cursor: pointer;
}

.spinner {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;


}

.spinner > content {

}