.top-buffer {margin-top: 20px;}

.top-buffer-2x {
    margin-top: 40px;
}

.left-buffer {
    margin-left: 20px;
}


#navbar {
    height: 80px;
    background: #ffffff;
}

#cron {
    display: inline;
}

.btn-z {
    color: white;

}



.text-center {
    text-align: center;
}

#settings {
    border: 1px solid gray;
    background: wheat;
}

.display-block {
    display: block;
}